{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'myapp/images/favicon.ico' %}" type="image/x-icon">
    <title>Welcome to Django</title>
    <link rel="stylesheet" href="{% static 'myapp/css/myapp.css' %}">
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Welcome to InfoGiants Lab!</h1>
        <p>Something cool is coming soon...</p>
    </div>
</body>
</html>
